@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 38px 150px 36px 150px;
}

.nav-title {
  font-weight: 800px;
  font-size: 28px;
}

.btn-navbar {
  font-family: "Azeret Mono", monospace;
  color: #0d1321;
  font-weight: 600;
  font-size: 20px;
  background-color: white;
  padding: 17px 24px;
  border-radius: 8px;
  border: 1px solid #0d1321;
  cursor: pointer;
}

/* Banner Styles */
.banner {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: repeat;
  height: 652px;
  background-position: center;
  background-size: contain;
  text-align: center;
  margin-bottom: 119px;
}

.banner-image {
  width: 240px;
  margin-top: 26px;
  margin-bottom: 32px;
}

.banner-title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 24px;
  line-height: 68px;
}

.banner-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 26px;
}

.btn-banner {
  font-family: "Azeret Mono", monospace;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  background-color: #0d1321;
  padding: 21px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* Why Web Development */
.container-webdev {
  background-color: rgba(13, 19, 33, 0.02);
  max-width: 1140px;
  margin: 0 auto;
  padding: 74px 152px 90px 148px;
  border-radius: 16px;
  margin-bottom: 90px;
}

.title-webdev {
  color: #0d1321;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}

.description-webdev {
  text-align: center;
  color: #0d1321;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 48px;
}

.card-webdev {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 16px;
  padding: 48px;
  margin-bottom: 32px;
  justify-content: space-between;
}

.card-content-webdev {
  padding: 20px;
}

.card-image-webdev img {
  width: 274px;
}

.card-title-webdev {
  font-size: 24px;
  font-weight: bold;
  color: rgba(13, 19, 33, 0.7);
  margin-bottom: 16px;
  line-height: 36px;
}

.card-description-webdev {
  font-size: 16px;
  font-weight: 400;
  color: rgba(13, 19, 33, 1);
  line-height: 26px;
  margin-bottom: 32px;
}

.btn-webdev {
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  color: #0d1321;
  border: 1px solid #0d1321;
  padding: 12px 20px;
  border-radius: 0px;
  cursor: pointer;
}

/* My Inspiration section styles */
.container-inspiration {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.title-inspiration {
  font-size: 32px;
  font-weight: 800;
  color: #0d1321;
  margin-bottom: 24px;
}

.description-inspiration {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #0d1321;
  padding: 0px 144px 48px 144px;
}

.video-container {
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin-bottom: 151px;
}

.video-container iframe {
  border-radius: 16px;
}

/* My Current Target section styles */
.container-target {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.title-target {
  font-size: 32px;
  font-weight: 800;
  color: #0d1321;
  margin-bottom: 24px;
}

.description-target {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #0d1321;
  padding: 24px 144px 48px 144px;
}

.cards-target {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.card-target {
  max-width: 364px;
  border-radius: 16px;
  padding: 40px;
  text-align: left;
  margin-bottom: 111px;
}

.color1 {
  background-color: rgba(255, 76, 30, 0.05);
}

.color2 {
  background-color: rgba(0, 76, 232, 0.05);
}

.color3 {
  background-color: rgba(255, 223, 0, 0.05);
}

.card-target img {
  width: 56px;
  margin-bottom: 24px;
}

.card-target-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 8px;
  color: #0d1321;
}

.card-target-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #0d1321;
  margin-bottom: 24px;
}

.card-target-link {
  color: #0d1321;
  font-size: 16px;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Support Section styles */
.support-section {
  max-width: 1140px;
  margin: 0 auto;
  min-height: 313px;
  border-radius: 16px;
  background-color: white;
  background-image: url(../assets/handshake.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.support-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 313px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 80px;
}

.support-content h1 {
  font-size: 32px;
  
  font-weight: bold;
  margin-bottom: 16px;
}

.support-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 267px;
  padding-right: 267px;
  margin-bottom: 24px;
}

.feedback-form input {
  font-family: "Azeret Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  width: 548px;
  border: none;
  border-radius: 8px;
  margin-right: 16px;
}

.feedback-form button {
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px;
  border: none;
  background-color: #ffffff;
  color: #0d1321;
  border-radius: 8px;
  cursor: pointer;
}
